*{
  margin: 0;
  padding: 0;
}

body{
  background-color: white;
  font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.module{
  position: relative;
  text-align: center;
  min-height: 1px;
  padding: 15px;
  float: left;
  width: 20%;
  height: 400px;
}

.container{
  margin-right: 0px;
  margin-left: 0px;
}

.container:before,
.container:after {
  display: table;
  content: " ";
}

.container:after {
  clear: both;
}

img{
  height: 10rem;
}

ul{
  display: flex;
  justify-content: center;
}

.swatches li{
  list-style-type: none;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  float: left;
  margin: .5em;
}

.bg-black{
  background-color: black;
}

.bg-blue{
  background-color: blue;
}

.bg-green{
  background-color: green;
}

.bg-purple{
  background-color: purple;
}

.bg-gray{
  background-color: gray;
}

.bg-red{
  background-color: red;
}

a{
  text-decoration: none;
}

.underlineHover:hover{
  text-decoration: underline;
}

h3, p{
  color: black;
}

.redText{
  color: red;
}

.strikethrough{
  text-decoration: line-through;
  font-weight: bold;
}

.star{
  color: red;
  font-size: 1.5rem;
}

.button{
  padding: 5px 15px;
}

.clearfix{
  clear: both;
}


